{% extends 'base.html' %}

{% block title %}
  <title>Home</title>
{% endblock %}

{% block content %}
  <h1 class="inline-block">TODO list</h1>
  <a href="{% url 'todo:task-create' %}" class="btn btn-primary float-right">Add Task</a>
  <hr>
  <div class="tasks">
    {% for task in task_list %}
      <p>
        <strong>{{ task }}</strong>
        {% if task.is_done %}
          <span class="text-success">Done</span>
          <a href="{% url 'todo:task-complete-task' pk=task.id %}" class="btn btn-secondary float-right">Undo</a>
        {% else %}
          <span class="text-danger">Not Done</span>
          <a href="{% url 'todo:task-complete-task' pk=task.id %}" class="btn btn-success float-right">Complete</a>
        {% endif %}
      </p>
      <p><strong>Created: </strong>{{ task.created_at }}</p>
      <p><strong>Deadline: </strong><span class="text-danger">{{ task.deadline }}</span></p>
      <p>
      Tags:
      {% for tag in task.tags.all %}
        {{ tag }}{% if not forloop.last %},{% endif %}
      {% endfor %}
        <a href="{% url 'todo:task-update' pk=task.id %}" class="text-decoration-none">Update</a>
        <a href="{% url 'todo:task-delete' pk=task.id %}" class="text-decoration-none">Delete</a>
      </p>
      <hr>
    {% endfor %}
  </div>

{% endblock %}